# Project files
.classpath
.project
.settings
# Compiled class file
*.class

# Package Files
*.jar
*.war

# Gradle
.gradle
**/build/
!src/**/build/

# Gradle wrapper jar file
!gradle-wrapper.jar

# Gradle wrappper properties
!gradle-wrapper.properties

# Distribution
packages/repo/dists/

# Docs related rules
/docs/*.pdf

# Docker dev environment
/docker-dev/pgdata
/docker-dev/webapps
