# Compiled class file
*.class

# Package Files
*.jar
*.war

# Gradle
.gradle
**/build/
!src/**/build/

# Gradle wrapper jar file
!gradle-wrapper.jar

# Gradle wrappper properties
!gradle-wrapper.properties

# Distribution
install-source/repo/dists/

# Docs related rules
/docs/*.pdf
